<div class="container pb-3 mt-4" style="box-shadow: 0 4px 8px 0 lightgreen; background-color:white;">
    <div class="container">
        <div class="row">
            <div class="col-sm-11 offset-1 mt-5">
                <h1 style="color: darkolivegreen; font-style: italic; font-size: 28px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    Pick from Available Visits ALL at Once!</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="parentelement row">
                    <div class="datevalue col-12">
                        <div class="control-section">
                            <div id="control_wrapper">
                                <div id="container" style="overflow:auto; width: 290px; padding: 20px; border-radius: 5%;
                                box-shadow: 0 4px 8px 0 lightgreen;">
                                    <!-- <h5>My Calendar</h5> -->
                                    <!-- [isMultiSelection]='multiselect' [values]='value'  -->
                                    <ejs-calendar id="calendar" [min]='minDate' [max]='maxDate'
                                     (renderDayCell)="onLoad($event)" style="margin-bottom: 10px;"
                                    (change)="onValueChange($event)" class='e-customStyle'></ejs-calendar>
                                    <span id="time" style="width: 700px;">Time: </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="myDiv" style="background-color: blue;"></div>
                        <p class="myP">Available Visits</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="myDiv" style="background-color: palevioletred;"></span>
                        <p class="myP">My Coming Visits</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="myDiv" style="background-color: limegreen;"></span>
                        <p class="myP">My History</p>
                    </div>
                </div>
                <!-- <div class="row"> -->
                    <div class="row mt-5">
                    <div class="col-sm-12 text-center">
                        <img [src]="img" width="100px" height="100px">
                        <h4 class="mb-3" id="paragraph" style="font-weight: bold;">{{value}}</h4>
                        <!-- <h4 id="paragraph" style="font-weight: bold;">{{value}}</h4> -->
                        <a routerLink="/NewRequest" [state]="selectedScheduleId" class="btn btn-primary" (click)="NewRequestClick()" 
                        style="color:white" [style.visibility]="btnVisible">GO FOR IT</a>
                        <!-- <router-outlet></router-outlet> -->
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

<!-- <div class="container py-5 mt-2" style="border: lightgreen dashed 1px; background-color:white;"
[style.visibility]="visible">
    <router-outlet></router-outlet>
</div> -->