
<footer class="container-fluid  mt-5" id="other2" >

    
    <section class="container">

        <section class="pt-4 pl-5 pb-3">
            <img src="./assets/imgs/1.png" alt="WasteApp" style="width: 50px;" class="clickable"
            pageScroll [routerLink]="['Home']" href="#top">
        </section>
        <div class="row m-0">
            <section class="container-fluid">
              <section class="container  mu-5">
                  <section class="row pt-3 ">
                      
                    <section  class="col-sm pl-5" >
                        <h5 class="text-white">Contact Us</h5>
                        <span><i class="material-icons md-white text-white  " style="font-size:14px;" > phone_in_talk</i></span>
                        <div style="display: inline;font-size: 14px;" class="text-white">{{"   "}}+20 102 434 8074</div>
                        <br>
                        <span><i class="material-icons md-dark text-white " style="font-size:14px; " > email</i></span>
                        <div style="display: inline;font-size: 14px;" class="text-white">{{"   "}}WasteApp@WasteApp.com</div>
                    </section>
                    
                    <section  class="col-sm pl-5 " > 
                        <h5 class="text-white">About Us</h5>
                        <p class="text-white">Out vision is to make environment cleaner</p>
                        <button type="button" class="btn btn-light grad text-white px-4 py-2 "
                        pageScroll [routerLink]="['Home']" href="#AboutUs"
                                style="font-size: 12px; border-radius: 16px;">
                                MORE </button>
                    </section>
                    
                    <section  class="col-sm pl-5"  >
                        <h5 class="text-white">Helpful Links</h5>
                        <p class="text-light clickable" style="font-size: 12px;"
                        pageScroll [routerLink]="['Home']" href="#AboutUs"
                        >About Us</p>
                        <p class="text-light clickable" style="font-size: 12px;">Services</p>
                        <p class="text-light clickable" style="font-size: 12px;">Terms & Conditions</p>
                        <p class="text-light clickable" style="font-size: 12px;">Privacy Policy</p>
                    </section>
                     
                  </section>
              </section>
            </section>
          </div>
        <mat-divider style="    border-top-color: wheat;
        border-top-width: 1.5px;"></mat-divider>
        <section class="row  mx-0 py-5 pl-3">

            <section class="col pl-5">
                <p class="text-light py-1">Copyright &copy;2020 All rights Reserved|WasteApp Team</p>
            </section>
            <section class="col-3"></section>
            <section class="col pl-5" >
                <section class="row m-0 " >
                    <a  href="https://www.facebook.com/" target="_blank">
                    <img src=" ./assets/imgs/facebook.png " alt="" class="mx-1 py-1 clickable" style="width: 20px;">
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                    <img src=" ./assets/imgs/twitter.png " alt="" class="mx-1 py-1 clickable" style="width: 20px;">
                    </a>
                    <a href="https://web.whatsapp.com/" target="_blank">
                    <img src=" ./assets/imgs/whatsapp.png " alt="" class="mx-1 py-1 clickable" style="width: 20px;">
                    </a>
                </section>
            </section>
        </section>
    </section>
</footer>