<form class="form-signin" >
    <section style="background-image: url(assets/imgs/loginbg.jpg);background-size: cover;height: 750px;" class="row mb-5" >
        <div class="container-fluid" > 
            <br/><br/> <br/>
       <div class="row">
         <div class="col-lg-4"></div>
         <div class="col-lg-4" style="background-color: transparent;border-radius: 25px;" >
            <br/><br/> <br/>
            <a class="btn btn-lg btn-primary btn-block grad"  routerLink="/register-as-apartment" role="button">Register as Apartment</a>
            <a class="btn btn-lg btn-primary btn-block grad" routerLink="/register-as-restrnt" role="button">Register as Restaurant</a>
            <br/><br/> <br/>
        
        </div>
       </div></div>
    </section>
    </form>
