.mat-form-field {
  display: block;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}.grad {
  background-image: linear-gradient(to right, #22892d, #74d14c);
  border: none;
}