<form class="form-signin" >
    <section style="background-image: url(assets/imgs/loginbg.jpg);background-size: cover;height: 750px;" class="row mb-5" >
     <div class="container-fluid" > 
       <br/><br/> <br/>
      <h2 style="text-align: center;" class="form-signin-heading">Register</h2>
  <div class="row">
    <div class="col-lg-2"></div>
    <!-- filelds -->
    <div class="col-lg-3">
     <span  class="font-weight-bold" style="font-size:medium;">Contact Person Data</span>   
    <label for="username" class="sr-only">First Name</label>
    <div class="input-group">
      <input style="align-self: center;" type="text" [(ngModel)]="newClient.FirstName" name="FirstName" ngModel class="form-control" placeholder="First Name" [(ngModel)]="newClient.FirstName" required autofocus>
     </div >
         <br/> 
    
      <label for="username" class="sr-only">Email address</label>
      <div class="input-group">
        <input style="align-self: center;" type="email" name="username" [(ngModel)]="newClient.Email"  class="form-control" placeholder="User Name" required autofocus>
      </div> 
          <br/>     
          <select #r   id="reg_selected"  class="form-control" 
                name="Region" placeholder="Region"  (change)="getStreets(r.value)" >
                <option value="" hidden >Region</option>
                <option #o *ngFor="let item of region"  [value]="item.id">{{item.name}}</option>
                
              </select>
             <br/>  
             <label for="LastName" class="sr-only">Building Number</label>
           <div class="input-group">
              <input type="number"  class="form-control" [(ngModel)]="newClient.BuildingNumber" placeholder="Building Number" name="BuildingNumber" required>
           </div>
           <br/>    
           
    </div> 
    <div class="col-lg-2"></div>
    <!-- column 2 of fields -->
   
<div class="col-lg-3">
    <br/>
  <label for="LastName" class="sr-only">Last Name</label>
          <input type="text" [(ngModel)]="newClient.LastName" class="form-control" placeholder="Last Name" name="LastName" required>
             <br/>
       <label for="username" class="sr-only">Password</label>
           <div class="input-group">
             <input style="align-self: center;" [(ngModel)]="newClient.Password"  type="password" name="password" class="form-control" placeholder="Password" required autofocus>
            </div>
            <br/>     
            <select class="form-control" [(ngModel)]="newClient.AddressId" name="streetName" placeholder="street name" >
              <option value="" hidden >Street Name</option>
              <option *ngFor="let item of address " [ngValue]="item.id">{{item.streetName}}</option>
            </select>
            <br/>     
            <label for="username" class="sr-only">Mobile</label>
            <div class="input-group">
              <input style="align-self: center;" [(ngModel)]="newClient.Mobile" type="tel" name="Mobile" class="form-control" placeholder="Mobile" required autofocus>
            </div> 
        <!-- <label for="username" class="sr-only">Apartment Number</label>
           <div class="input-group">
             <input style="align-self: center;" type="number" [(ngModel)]="newClient.ApartmentNumber"  name="password" class="form-control" placeholder="Apartment Number" required autofocus>
            </div>
            <br/> -->
            <!-- <select #c class="form-control" [(ngModel)]="newClient.CategoryId" name="CategoryId" placeholder="CategoryId" >
              <option value="" hidden >Category</option>
              <option *ngFor="let item of category"  [ngValue]="item.id" >{{item.name}}</option>
            </select>
            <br/> -->
          </div> 
        </div> 
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-2">
            <button class="btn btn-lg btn-primary btn-block grad" (click)="Register()">Register</button>
          </div>

        </div>
</div>
    </section>
    <!-- type="submit" -->
      </form>