/* old table style
 table {
    width: 98%;
    margin: auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 40%;
 
  } */

  /* table {
    width: 98%;
    margin: auto;
  }
  */

  .mat-form-field {
    padding: 15px;/* 
    margin-left: 8px; */
    font-size: 14px;
    width: 30%;
  }
 

 .example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;/* 
  padding: 8px 24px 0; */
}

.mat-table {
  width: 98%;
  margin: auto;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
.detail-row{
  margin-left: 28px;
  
}
.mat-header-cell{
  background-color: #28a745;
}
td{
  cursor: pointer;
}