<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<!-- 
 <mat-toolbar color="primary">
  <span>Application Title</span> -->

  <!-- This fills the remaining space of the current row -->
  <!-- <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar>
<section  class=" mb-5">
  <section style="background-image: url(assets/imgs/bg.jpg);background-size: cover;" class="row mb-5" >

    <section  class="col-lg-3 mt-5"><br><br><br>
       <p style="font-size:300%;margin-left: 30px;" class=" display-3">Clean and Gain</p>
    </section>
    <section   class="col-lg-6"> 
    </section>
    <section class="col-lg-3">
       <img src="assets/imgs/logo.png">
    </section>
</section>
</section> -->
<!--  <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container> -->

<!--   <nav class="navbar navbar-light bg-light ">
    <button class="navbar-toggler"
    mat-raised-button mat-icon-button
    matTooltip="View Profile" style="border: transparent; box-shadow: none;"
    type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">

    <i class="material-icons md-dark">face</i>    </button>
  </nav>
 -->

  <!-- 
<nav class="navbar navbar-expand-sm bg-light">
<li>

</li>
   <ul class="navbar-nav">
     <li class="nav-item">
       <a class="nav-link" routerLink="/Home">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="/Profile" *ngIf="IsLoggedIn()" >Profile</a>
     </li>

     <li class="nav-item dropdown" *ngIf="IsLoggedIn()" >
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Request
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/NewRequest">New Request</a>
        <a class="dropdown-item" href="/CurrentRequest">Current Request</a>
        <a class="dropdown-item" routerLink="/RequestsDetails">Requests List</a>
      </div>
      </li>

      
     <li class="nav-item dropdown" *ngIf="IsLoggedIn()" >
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Promotions
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/MyPromotions">My-Promotion</a>
        <a class="dropdown-item" routerLink="/Promotions">Promotions List</a>
      </div>
      </li>
   </ul>
   <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="!IsLoggedIn()" >Register</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" *ngIf="!IsLoggedIn()" href="/login">login</a>
         <a class="nav-link" *ngIf="IsLoggedIn()" href="" (click)="logOut()">logout</a>
       </li>
       
      </ul>
    </div>
 </nav>

 -->
 <app-navbar></app-navbar>
<!-- <select   id='Notification' class="form-control" name ="Notification">
        <option selected disabled>  
          Notification  
            </option>   
            <option>  
              <span>{{message}}</span>
             <div class="container" *ngIf="messages.length > 0"> 
                <div *ngFor="let message of messages">
                  <span>congratulation You Collect 5 Points</span>
                </div> 
              </div> 
                </option> 
         </select>  -->
<!-- 
 <app-my-profile></app-my-profile> -->
<router-outlet>
</router-outlet>
<app-footer></app-footer>
<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->
