<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<!-- 
 <mat-toolbar color="primary">
  <span>Application Title</span> -->

  <!-- This fills the remaining space of the current row -->
  <!-- <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar>
<section  class=" mb-5">
  <section style="background-image: url(assets/imgs/bg.jpg);background-size: cover;" class="row mb-5" >

    <section  class="col-lg-3 mt-5"><br><br><br>
       <p style="font-size:300%;margin-left: 30px;" class=" display-3">Clean and Gain</p>
    </section>
    <section   class="col-lg-6"> 
    </section>
    <section class="col-lg-3">
       <img src="assets/imgs/logo.png">
    </section>
</section>
</section> -->
<nav class="navbar navbar-expand-sm bg-light">

   <!-- Links -->
   <ul class="navbar-nav">
     <li class="nav-item">
       <a class="nav-link" routerLink="/Home">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="#">Profile</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="#">Requests</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="#">Promotions</a>
     </li> <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Request
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/Request">Request</a>
        <a class="dropdown-item" routerLink="/RequestsDetails">Requests List</a>
      </div>
     <li class="nav-item">
      <a class="nav-link" routerLink="/test">test</a>
    </li>
   </ul>
   <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" *ngIf="port.valid==false" href="/login">login</a>
         <a class="nav-link" *ngIf="port.valid==true" href="" (click)="logOut()">logout</a>
       </li>
      </ul>
    </div>
 </nav>

 
<router-outlet>
</router-outlet>
<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->