<div class="jumbtron">  
    <h2 class="display-4 text-center" style="margin-top:50px;">
        Requests Details
    </h2>
<hr class="mx-5">


    <div align="center">
        <label for="" class="mx-2" >Status</label>
        <label for="" class="mx-2"  >Pending</label>    
    </div>

    <div align="center">
        <label class="mx-2"  >Date </label>
        <label for="" class="mx-2" *ngIf="request" >{{request.schedule.time |  date:'MMM d, y, h:mm:ss a'}}</label>    
    </div>

    <div align="center">
        <label for="" class="mx-2" >Remaining </label>
        <label for="" class="mx-2" *ngIf="request"  >{{remainingTimeString}}</label>    
    </div>
    <div align="center">
        <button class="btn btn-success mx-2" routerLink="/Home" >Done</button>
        <button class="btn btn-success mx-2"  (click)='openDialog()'>Cancel Request</button>
    </div>

