 <br/>
<br/>
<br/>
<div class="container-fluid"  >
    <div class="row" *ngFor="let s of survey;let i=index">
        <div class="col-lg-1" ></div>
                <div class="col-lg-4" style="color: green;font-size: large;" *ngIf="i<=3">{{s.question}}</div>
                <div class="col-lg-7"  *ngIf="i<=3">
                   
                 <div class="form-check-inline" *ngFor="let p of choiceArr;">
                    <input type="radio" class="form-check-input" [value]="p.id" [name]="s.question" (change)="print(p.text,i)">{{p.text}}<span style="padding: 25px;"></span> 
                </div>
        
    </div>
    <div class="row" *ngFor="let s of survey;let i=index">
        <div class="col-lg-1" ></div>
                <div class="col-lg-4" style="color: green;font-size: large;" *ngIf="i>3">{{s.question}}</div>
                <div class="col-lg-7"  *ngIf="i<=3">
                   
                 <div class="form-check-inline" *ngFor="let p of choiceArr;">
                    <input type="radio" class="form-check-input" [value]="p.id" [name]="s.question" (change)="print(p.text,i)">{{p.text}}<span style="padding: 25px;"></span> 
                    <input type="radio" class="form-check-input" [value]="p.id" [name]="s.question" (change)="print(p.text,i)">{{p.text}}<span style="padding: 25px;"></span> 
                    <input type="radio" class="form-check-input" [value]="p.id" [name]="s.question" (change)="print(p.text,i)">{{p.text}}<span style="padding: 25px;"></span> 
                    
                </div>
        
    </div>
</div>
<button class="btn btn-success" (click)="send()"> save</button>